.container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin: 0.8rem 0;
}
.container .items img{
    width: 6rem;
    height: 6rem;
}
.container .items{
    color: white;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease , box-shadow 0.3s ease ;
}
.container .items:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.container .items div{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.container .items:first-child{
    background: linear-gradient(135deg, rgb(74, 144, 226), rgb(102, 169, 255));
}
.container .items:nth-child(2){
    background: linear-gradient(135deg, rgb(76, 175, 80), rgb(102, 255, 153));
}
.container .items:nth-child(3){
    background: linear-gradient(135deg, rgb(142, 36, 170), rgb(179, 157, 219));
}

@media screen and (max-width: 830px) {
    .container{
        margin-top: 2.5rem;
        flex-direction: column;
        gap: 1rem;
    }
    .container .items {
        width: 100%;
    }
}